name: civiid
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  percent_indicator: ^4.2.5
  shared_preferences: ^2.5.3
  camera: ^0.11.0+2
  image_picker: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

fonts:
  - family: Manrope
    fonts:
      - asset: /fonts/Manrope-VariableFont_wght.ttf
        weight: 400

